.die {
    background-color: lightgray;
    height: 2em;
    line-height: 2em;
    margin: 1px;
    text-align: center;
    vertical-align: middle;
    width: 2em;
}

.searchBox {
    margin: 2em;
}

.searchBox div div {
    background-color: lightgray;
    height: 2em;
    line-height: 2em;
    margin: 1px;
    text-align: center;
    vertical-align: middle;
    width: 2em;
}
