 <div class="searchBox" layout="column">
    <div layout="row">
      <ut-search-cell region="{{c.region}}" box="{{c.box}}" row="0" column="0"></ut-search-cell>
      <ut-search-cell region="{{c.region}}" box="{{c.box}}" row="0" column="1"></ut-search-cell>
      <ut-search-cell region="{{c.region}}" box="{{c.box}}" row="0" column="2"></ut-search-cell>
    </div>
    <div layout="row">
      <ut-search-cell region="{{c.region}}" box="{{c.box}}" row="1" column="0"></ut-search-cell>
      <ut-search-cell region="{{c.region}}" box="{{c.box}}" row="1" column="1"></ut-search-cell>
      <ut-search-cell region="{{c.region}}" box="{{c.box}}" row="1" column="2"></ut-search-cell>
    </div>
</div>